<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.AddressBookMapper">
    <insert id="add">
        insert into address_book (user_id, consignee, sex, phone,
                                  province_code, province_name, city_code,
                                  city_name, district_code, district_name,
                                  detail, label, is_default)
        values (#{userId},#{consignee},#{sex},#{phone},#{provinceCode},
                #{provinceName},#{cityCode},#{cityName},#{districtCode},#{districtName},
                #{detail},#{label},#{isDefault})
    </insert>
    <select id="list" resultType="com.sky.entity.AddressBook">
        select * from address_book
    </select>
</mapper>
