<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.EmployeeMapper">
    <insert id="insert">
        insert into empdata (empCd,name, birthday, nationalityCd, genderCd)
        values (#{empCd},#{name},#{birthday},#{nationalityCd},#{genderCd})
    </insert>

    <select id="getAll" resultType="com.sky.entity.Employee">
        select empdata.*,g.genderName,n.nationalityName
        from empdata
                 join gender g on empdata.genderCd = g.genderCd
                 join nationality n on n.nationalityCd = empdata.nationalityCd
order by empCd
    </select>
    <select id="findByValue" resultType="com.sky.entity.Employee">
        select empdata.*,g.genderName,n.nationalityName
        from empdata
                 join gender g on empdata.genderCd = g.genderCd
                 join nationality n on n.nationalityCd = empdata.nationalityCd
where name like concat('%',#{value},'%')
    </select>
</mapper>
