<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.LoginMapper">

    <select id="login" resultType="com.sky.entity.LoginUser">
        select *
        from loginuser
        where accountId = #{accountId}
          and password = #{password}
    </select>
</mapper>
